{% extends "header_footer.html" %}
{% block content %}


<div class="panel col-md-9 panel-primary" style="margin-left:12.5%; margin-right:12.5%">
  <div class="row text-center panel-body">
      <a href='{{url_for('menuItemJSON', restaurant_id = restaurant_id, menu_id=menu_id) }}' class="btn btn-default pull-right"> View JSON </a><br><h1>{{ item.name }} </h1>
    <hr>
    <h3>{{ item.description }} </h3>
    <br>
    <h3>Price: {{ item.price }} </h3>
    <br>
    <a href='{{url_for('editMenuItem', restaurant_id = restaurant_id, menu_id = menu_id) }}'class="btn btn-warning pull-left"> edit </a>
    <a href='{{url_for('deleteMenuItem', restaurant_id = restaurant_id, menu_id = menu_id) }}' class="btn btn-danger pull-right"> delete </a>
    <a href='{{url_for('restaurantMenu', restaurant_id = restaurant_id)}}' class="btn btn-primary"> Back to Restaurant Menu </a>
  </div>
</div>

{% endblock %}
